<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nota</title>
    <link rel ="stylesheet" href="static/style.css">
</head>
<body>
    <div class="calculo">
        <h1>Peça Cadastrada com Sucesso! </h1>
        <p><strong>Peça: {{ peca }} </strong></p>
        <p><strong>Nº SKU: {{ sku }} </strong></p>
        <p><strong>Quantidade adicionada ao estoque: {{ qtd }} </strong></p>

        <a class="botao-secundario" href="/">Cadastrar Nova Peça</a>
        <a class="botao-secundario" href="/historico">Ver Histórico Completo</a>  
    </div>
</body>
</html>